body {
	background-color: #dedeea;
}

section {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 25px;
	text-align: left;
	border-radius: 20px;
	min-height: 100vh;
}

.nav-logo {
	 color: #555555;
	 font-size: 16px;
}

.nav-logo-tag {
	font-size: 20px;
	font-weight: bold;
	color: #000000
}

.section-row {
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: left;
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 20px;
	background-color: #f2f3f7;
	height: 100%;
	padding: 0px;
	padding-bottom: 30px;
}

.sub-section-title-padding {
	padding: 15px;
}

.img-space {
	margin-bottom: 15px;
}

.slider-img-adjust {
	padding-top: 100px
	min-width:100vw;
}

.center-content {
	margin:auto;
	padding: 0px;
}

.alpha-effectimg {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


.slider-padding {
	padding-top: 50px;
	padding-bottom: 5px;
}

.nav-padding {
	padding-top: 25px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}