body {
	background-color: #f7f4ef;
}

section {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 25px;
	text-align: left;
	border-radius: 20px;
	min-height: 100vh;
}

.sub-section {
	/*margin-bottom: auto;*/
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
	border-width: 1px;
	padding: 15px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 20px;
	background-color: #ffffff;
}

.sub-section-spacing {
	padding-top: 25px;
}

.sub-section-title-padding {
	padding: 15px;
}

.img-space {
	margin-bottom: 15px;
}

.slider-img-adjust {
	padding-top: 100px
	min-width:100vw;
}

.center-content {
	margin:auto;
}

.alpha-effectimg {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}


.slider-padding {
	padding-top: 50px;
	padding-bottom: 5px;
}

.nav-padding {
	padding-top: 25px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

#service-item {
	col-xs-12 col-sm-6 col-md-3 col-lg-3;
}